name: Publish Quarto Book

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: quarto-dev/quarto-actions/setup@v2

      - name: Install R + Python
        uses: r-lib/actions/setup-r@v2

      - name: Install R packages
        run: |
          Rscript -e 'install.packages(c("tidyverse","dplyr","ggplot2","palmerpenguins","stringr","readr","purrr","tibble","tidyr","forcats"))'

      - name: Install Python packages
        run: |
          pip install pandas seaborn scikit-learn statsmodels numpy scipy matplotlib

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
